
.tucked-corners {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    height: 400px;
    position: relative;
    width: 400px;

    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.tucked-corners:before, .tucked-corners:after {
    background-color: #F2F2F2;
    content: " ";
    height: 45px;
    left: -31px;
    position: absolute;
    top: -30px;
    width: 45px;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
}
.tucked-corners:after {
    left: auto;
    right: -31px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
}

body {
    background-color: #F2F2F2;
    padding: 20px;
}
.author {
    font-size: 14px;
    margin-top: 40px;
}