
//used in the following styles
@hairline:#707070;
@background:#f3f3f3;
@headerText:#444;

@button-normal: #5B8300;
@button-hover: (@button-normal - #555);
@button-click: (@button-normal + #333);

//not currently used?
.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

//used for top navigation area
div.banner
{
	margin-left:auto;
	margin-right:auto;	
	padding-top: 10px;
	
	width:800px;
	height:70px;
	
	float:none;
	position:relative; 
}

//used for Ian Kitchen button on all pages
div.name
{
	width:90px;
	display:inline;
	float:left;	
	padding:10px;
	background-color: @button-normal;
	text-align: center;
	color:white;
	font-family:sans-serif;
}

//used for hover effect on name buttons
div.name:hover
{
	cursor:pointer;
	background-color: @button-hover;
}

//used for primary navigation buttons on top right
ul.topNav
{
	padding:0px;
	margin:0px;
	width:600px;
	display:inline;
}

//used for each button in the top right list
li.topNav
{
	display:inline;
	float:right;
	padding:10px;
	font-family:sans-serif;
	list-style: none;
	color:@headerText;

}

//used to underline the selected page
div.selectedPage
{
	background-color:#cecece;
	width:auto;
	height:3px;
}

//could be used to change style on hover, currently just for pointer
li.topNav:hover
{
	background-color: @background;
	cursor:pointer;
}

//used on each page to introduce a section
.messageTitle
{
	margin-left:40px; 
	margin-top:50px; 
	font-family: 'Lato', sans-serif;
	font-size:18px;
}

//content, for example block of text in teh portfolio
.message
{
	margin-left:50px; 
	margin-right:50px;
	margin-top:30px; 
	font-family: 'Lato', sans-serif;
	font-size:14px;
	line-height: 2em;
}

//content, mainly used on cv for inset blocks of text
.messageInner
{
	margin-left:70px; 
	margin-right:70px;
	margin-top:30px; 
	font-family: 'Lato', sans-serif;
	font-size:14px;
}


div.wall
{
	padding:50px;
	
}

//used for navigation to thumbnails on portfolio page
div.backButton
{
	width:180px;
	display:inline;
	float:right;	
	padding:10px;
	background-color: @background;
	text-align: center;
	color:@headerText;
	font-family:sans-serif;
}

div.backButton:hover
{
	cursor:pointer
}

//used on portfolio for thumbnails
img.thumb
{
	width:200px; 
	//background-color: @background;
	margin-left:50px;
}


//hover effect for thumbnails
img.thumb:hover
{
	cursor:pointer;
}

//label under each thumb
div.thumbLabel
{
	width:200px;
	margin-left:50px;
	text-align: center;
	font-family:sans-serif;
}
